﻿<script>
    _GLOBALS = {
        DateTimeFormat: {
            Moment: 'DD/MM/YYYY hh:mm:ss'
        },
        DateFormat: {
            Moment: 'DD/MM/YYYY',
            DatePicker: 'dd/mm/yyyy'
        },
        Locale: 'es'
    };

    @{
        Dictionary<String, Dictionary<String, String>> routes = new Dictionary<String, Dictionary<String, String>>();
        foreach (var route in System.Web.Routing.RouteTable.Routes.Where(r => r.GetType().ToString() == "System.Web.Mvc.Routing.LinkGenerationRoute"))
        {
            RouteValueDictionary routeDefaults = ((RouteValueDictionary)route.GetType().GetProperty("Defaults").GetValue(route, null));

            if (((ActionDescriptor[])((Route)route).DataTokens.FirstOrDefault().Value)[0].ControllerDescriptor.ControllerType.Assembly.GetName().Name == "Fox.Web")
            {
                if (routes.Keys.Where(k => k == routeDefaults["controller"].ToString()).Count() == 0)
                {
                    routes.Add(routeDefaults["controller"].ToString(), new Dictionary<String, String>());
                }

                if (routes[routeDefaults["controller"].ToString()].Keys.Where(k => k == routeDefaults["action"].ToString()).Count() == 0)
                {
                    routes[routeDefaults["controller"].ToString()].Add(routeDefaults["action"].ToString(), route.GetType().GetProperty("Url").GetValue(route, null).ToString());
                }
            }
        }
    }

    _WEBCONFIG = {
        @{
            bool firstSetting = true;
            foreach (var key in System.Configuration.ConfigurationManager.AppSettings)
            {
                 if (!firstSetting)
                {
                    @Html.Raw(",");
                }
                else
                {
                    firstSetting = false;
                }
                @Html.Raw(String.Format("{0} : \"{1}\"", key.ToString(), System.Configuration.ConfigurationManager.AppSettings[key.ToString()].Replace("\\","\\\\").Replace("\"","\\\"")));
            }
        }
    };

    _ROUTES = {
        @foreach (KeyValuePair<String, Dictionary<String, String>> controller in routes)
        {
            @Html.Raw(String.Format("\"{0}\" : {{", controller.Key));
            foreach (KeyValuePair<String, String> action in controller.Value)
            {
                @Html.Raw(String.Format("\"{0}\" : \"{1}{2}\", ", action.Key, Url.Content("~"), action.Value));
            }
            @Html.Raw("}, ");
        }
    };

    _MODEL = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.JsonSerializerSettings
    {
        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
    })))


   _LOGGEDUSERNAME = "@(User != null ? User.Identity != null ? User.Identity.Name : ""  : "")"

    _ENUMS = {
        @{
        bool firstEnum = true;
        foreach( Type enu in AppDomain.CurrentDomain.GetAssemblies().Where(a => a.ManifestModule.Name == "Tutorial.Model.dll").First().DefinedTypes.Where(t => t.IsEnum).ToList() ){
            if (!firstEnum)
            {
                @Html.Raw(",");
            }
            else
            {
                firstEnum = false;
            }

            @Html.Raw(String.Format("{0}: {{", enu.Name));

            System.Reflection.FieldInfo[] fields = enu.GetFields();

            bool firstField = true;
            foreach (var field in fields)
            {
                if ( !field.Name.Equals("value__") )
                {
                    if (!firstField)
                    {
                        @Html.Raw(",");
                    }
                    else
                    {
                        firstField = false;
                    }
                    @Html.Raw(String.Format("\"{0}\" : {1}", field.Name, (int)field.GetRawConstantValue()));
                }
            }

        @Html.Raw("}");
    }
    }
    };

</script>