﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>

    @* Stylesheets *@
    <link rel="stylesheet" href="~/Content/Less/app.less">
    <link rel="stylesheet" href="~/Scripts/bootstrap.min.css">

    @* Vendor generic scripts *@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    @Html.Partial("~/Views/Shared/_Navbar.cshtml")

    <div class="page-wrapper @(ViewBag.Class != null ? ViewBag.Class : "")" @Html.Raw(ViewBag.PageId != null ? String.Format("id=\"page-{0}\"", ViewBag.PageId) : "")>
        @RenderBody()
    </div>

    @Html.Partial("~/Views/Shared/_Resources.cshtml")
    @Html.Partial("~/Views/Shared/_JSGlobals.cshtml")
    @Html.Partial("~/Views/Shared/_Templates.cshtml")

    <!-- App version: @typeof(Tutorial.Web.Global).Assembly.GetName().Version  -->
</body>

</html>