﻿<nav id="tutorial-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        @foreach (var item in new List<string>() { "Uno", "Dos", "Tres", "Cuatro" })
        {
            <div class="col-xs-3">@item</div>
        }
    </div>
</nav>