﻿<div id="select-item-template" class="template">
    <div class="row" role="option" aria-selected="true">
        <div class="col-xs-2">{id}</div>
        <div class="col-xs-6">{text}</div>
        <div class="col-xs-4">{extra}</div>
    </div>
</div>